.title {
    text-align: center;
}

.text {
    text-align: center;
}

#list {
    display: flex;
    justify-content: center;
    font-size: 30px;
}


.colours {
    width: 800px;
    user-select: none;
    margin: auto;
}

.red {
    display: block;
    width: 100%;
    margin: auto;
}

.blue {
    display: block;
    width: 100%;
    margin: auto;
}

.yellow {
    display: block;
    width: 100%;
    margin: auto;
}